@model EditUserViewModel


@if (!ViewContext.ModelState.IsValid)
{
    <div asp-validation-summary="ModelOnly" class="text-danger alert alert-danger"></div>
}
<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="breadcrumb-wrapper py-3 mb-4">
            <span class="text-muted fw-light">الملف الشخصي  /</span> الحساب
        </h4>

        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <h5 class="card-header">مدراء المحافظة</h5>
                    <!-- Account -->
                    @*<div class="card-body">
                            <div class="gap-4 d-flex align-items-start align-items-sm-center">
                                <img src="../../assets/img/avatars/1.png"
                                     alt="user-avatar"
                                     class="d-block rounded"
                                     height="100"
                                     width="100"
                                     id="uploadedAvatar" />
                                <div class="button-wrapper">
                                    <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                                        <span class="d-none d-sm-block">إدراج صورة</span>
                                        <i class="bx bx-upload d-sm-none d-block"></i>
                                        <input type="file"
                                               id="upload"
                                               class="account-file-input"
                                               hidden
                                               accept="image/png, image/jpeg" />
                                    </label>
                                    <button type="button" class="btn btn-label-secondary account-image-reset mb-4">
                                        <i class="bx bx-reset d-sm-none d-block"></i>
                                        <span class="d-none d-sm-block">حذف</span>
                                    </button>


                                </div>
                            </div>
                        </div>*@
                    <hr class="my-0" />
                    <div class="card-body">
                        <form asp-action="Edit" asp-controller="GeneralFederation">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="FullName" class="form-label">الاسم </label>
                                    <input asp-for="FullName" class="form-control" placeholder="ادخل اسمك كاملا" autofocus />
                                    <span asp-validation-for="FullName" class="text-danger"></span>

                                </div>

                                <div class="col-md-6 mb-3">
                                    <label for="PhoneNumber">رقم الهاتف</label>

                                    <input asp-for="PhoneNumber" class="form-control" placeholder="ادخل رقم الهاتف  " />
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="PhoneNumber"> تاريخ الميلاد</label>

                                    <input asp-for="DateOfBirth" class="form-control" type="datetime" />
                                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="IdentityNumber">الرقم الوطني</label>
                                    <input asp-for="IdentityNumber" class="form-control" placeholder="ادخل رقم البطاقة " />
                                    <span asp-validation-for="IdentityNumber" class="text-danger"></span>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="IsBlocked" />
                                        <label asp-for="IsBlocked" class="form-label">الحالة (تنشيط /توقيف)</label>

                                    </label>
                                </div>
                                <div class="form-group form-password-toggle">
                                    <label asp-for="RoleId" class="control-label"></label>
                                    @if (User.IsInRole("AdminGeneralFederation"))
                                    {
                                        <select asp-for="RoleId" class="form-control" asp-items="@(new SelectList(new List<SelectListItem>
                                      {   new SelectListItem { Selected = true, Text = "قم بإختيار الصلاحية الممنوحة",Value =""},
                                          new SelectListItem { Selected = false, Text = "مدير إتحاد عام", Value = 1.ToString() },
                                          new SelectListItem { Selected = false, Text = " مدير محافظة", Value = 2.ToString() },
                                          new SelectListItem { Selected = false, Text = " مدير مديرية", Value = 3.ToString() },
                                          new SelectListItem { Selected = false, Text = " مدير عزلة", Value = 4.ToString() },
                                          new SelectListItem { Selected = false, Text = " مزارع ", Value = 5.ToString() } } , "Value", "Text", 5))"> </select>

                                    }
                                    else if (User.IsInRole("AdminGovernorate"))
                                    {

                                        <select asp-for="RoleId" class="form-control" asp-items="@(new SelectList(new List<SelectListItem>
                                      {   new SelectListItem { Selected = true, Text = "قم بإختيار الصلاحية الممنوحة"},

                                          new SelectListItem { Selected = false, Text = " مدير مديرية", Value = 3.ToString() },
                                          new SelectListItem { Selected = false, Text = " مدير عزلة", Value = 4.ToString() },
                                          new SelectListItem { Selected = false, Text = " مزارع ", Value = 5.ToString() } } , "Value", "Text", 5))"> </select>



                                    }
                                    else if (User.IsInRole("AdminDirectorate"))
                                    {

                                        <select asp-for="RoleId" class="form-control" asp-items="@(new SelectList(new List<SelectListItem>
                                      {   new SelectListItem { Selected = true, Text = "قم بإختيار الصلاحية الممنوحة"},

                                           new SelectListItem { Selected = false, Text = " مدير عزلة", Value = 4.ToString() },
                                          new SelectListItem { Selected = false, Text = " مزارع ", Value = 5.ToString() } } , "Value", "Text", 5))"> </select>


                                    }
                                    else if (User.IsInRole("AdminSubDirectorate"))
                                    {
                                        <select asp-for="RoleId" class="form-control" asp-items="@(new SelectList(new List<SelectListItem>
                                      {   new SelectListItem { Selected = true, Text = "قم بإختيار الصلاحية الممنوحة",Value =""},


                                          new SelectListItem { Selected = false, Text = " مزارع ", Value = 5.ToString() } } , "Value", "Text", 5))"> </select>

                                    }
                                    <span asp-validation-for="RoleId" class="text-danger"></span>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <label class="col-form-label">المحافظة</label>
                                    <select id="Governorates" class="form-control" asp-for="GovernorateId"  asp-items="@(new SelectList(ViewBag.ViewGover,"Id","Name"))">
                                     

                                    </select>
                                    <span asp-validation-for="GovernorateId" class="text-danger"></span>

                                </div>
                                <div class="col-md-4 mb-4">
                                    <label class="col-form-label ">المديرية</label>
                                    <select id="Directorates" class="form-control " asp-for="DirectorateId" asp-items="@(new SelectList(String.Empty,"Id","Name"))">
                                        <option value="">حدد المديرية</option>
                                    </select>
                                    <span asp-validation-for="DirectorateId" class="text-danger"></span>

                                </div>
                                <div class="col-md-4 mb-4">
                                    <label class="col-form-label">العزل</label>
                                    <select id="SubDirectorate" class="form-control" asp-for="SubDirectorateId" asp-items="@(new SelectList(String.Empty,"Id","Name"))">
                                        <option value="">حدد العزلة</option>
                                    </select>
                                    <span asp-validation-for="SubDirectorateId" class="text-danger"></span>

                                </div>
                                @*<div class="form-group form-password-toggle">
                                        <label class="form-label" for="password">كلمة المرور</label>
                                        <div class="input-group input-group-merge">
                                            <input id="password" asp-for="Password" class="form-control" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" />
                                            <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                                        </div>
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class="form-group form-password-toggle">
                                        <label class="form-label" for="password"> تاكيد كلمة المرور </label>
                                        <div class="input-group input-group-merge">
                                            <input asp-for="PasswordConfirm" class="form-control" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" />
                                            <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                                        </div>
                                        <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                                    </div>*@
                            </div>
                            <div class="mt-2">
                                <button type="submit" id="editButton" class="btn btn-success me-2">حفظ التغير</button>
                                @*<input type="submit" id="EditButton" class="btn btn-label-success me-2"  value="حفظ" />*@

                                <button type="reset" onclick="location.href='@Url.Action("ViewUsers", "GeneralFederation")'" class="btn btn-label-secondary">إلغاء</button>
                            </div>
                        </form>
                    </div>
                    <!-- /Account -->
                </div>

            </div>
        </div>
    </div>
    <!-- / Content -->

    <div class="content-backdrop fade"></div>
</div>
@section Scripts {

    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@
    <partial name="_ValidationScriptsPartial" />
    <script>
        'use strict';
        (function () {
            const editButton = document.querySelector('#editButton');
            // Alert With Functional Confirm Cancel Button
            if (editButton) {
                editButton.onclick = function () {
                    var inputData = $('form').serializeArray();
                    $.ajax(
                        {
                            type: "POST", //HTTP POST Method
                            url: "Edit", // Controller/View
                            data: inputData,
                            error: function () {
                                Swal.fire({
                                    title: 'خطأ!',
                                    text: ' يرجى ادخال بيانات المستخدم بشكل كامل!',
                                    icon: 'error',
                                    customClass: {
                                        confirmButton: 'btn btn-primary'
                                    },
                                    buttonsStyling: false
                                });
                                // Error Alert

                            },
                        });
                    Swal.fire({
                        title: 'هل انت متأكد من حفظ المستخدم؟',
                        //text: "لن تتمكن من العوده الى المستخدم !",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'نعم, حفظ !',
                        CancelButtonText: 'إلغاء',
                        customClass: {
                            confirmButton: 'btn btn-primary me-3',
                            cancelButton: 'btn btn-label-secondary'
                        },
                        buttonsStyling: false
                    }).then(function (result) {
                        if (result.value) {
                            Swal.fire({
                                icon: 'success',
                                title: 'تم الحفظ بنجاح !',
                                text: 'تم الحفظ في  جدول المستخدمين.   ',
                                customClass: {
                                    confirmButton: 'btn btn-success',
                                },

                            });
                        } else if (result.dismiss === Swal.DismissReason.cancel) {
                            Swal.fire({
                                title: 'الغاء الحفظ',
                                text: 'لا زال المستخدم قيد التعديل :)',
                                icon: 'error',
                                customClass: {
                                    confirmButton: 'btn btn-success'
                                }
                            });
                        }
                    });
                };
            }
        })();

    </script>
    <script>
        function upateSubCategoriesList() {
            var selectedGovernorates = document.getElementById("Governorates").value;
            $list = $('#Directorates');
            $.ajax({
                url: '/ManageUsers/GetDirectorateies/' + selectedGovernorates,
                teyp: 'GET',
                dataType: 'text',
                success: function (data) {
                    results = JSON.parse(data);
                    $list.html('');
                    var items = '';
                    for (i in results) {
                        items += '<option value = "' + results[i].value + '">' + results[i].text + '</option>';
                    }
                    $list.html(items);

                }


            }
            );

        }
        $(document).ready(function () {
            upateSubCategoriesList();
        });
        $("#Governorates").on("change", function () {
            upateSubCategoriesList();
        });

    </script>
    <script>
        function upateSubSubDirectorat() {
            var selectedSubDirectorat = document.getElementById("Directorates").value;
            $list = $('#SubDirectorate');
            $.ajax({
                url: '/ManageUsers/GetSubDirectorate/' + selectedSubDirectorat,
                teyp: 'GET',
                dataType: 'text',
                success: function (data) {
                    results = JSON.parse(data);
                    $list.html('');
                    var items = '';
                    for (i in results) {
                        items += '<option value = "' + results[i].value + '">' + results[i].text + '</option>';
                    }
                    $list.html(items);

                }


            }
            );

        }
        $(document).ready(function () {
            upateSubSubDirectorat();
        });
        $("#Directorates").on("change", function () {
            upateSubSubDirectorat();
        });





    </script>



}