@using CompalintsSystem.Core.Models;
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager;
@inject SignInManager<ApplicationUser> signInManager;
@model ApplicationUser
@{
    ViewData["Title"] = "  تعديل البيانات الشخصية";
}


<div class="content-wrapper">

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="breadcrumb-wrapper py-3 mb-4">
            <span class="text-muted fw-light"></span> تعديل الملف الشخصي


        </h4>
        <ul class="nav nav-pills flex-column flex-md-row mb-3">
            <li class="nav-item">
                <a class="nav-link " asp-controller="ManageProfile" asp-action="Profile"><i class="bx bx-user me-1"></i> الملف الشخصي</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" asp-controller="ManageProfile" asp-action="EditeMyProfile"><i class="bx bx-user me-1"></i> تعديل الملف الشخصي</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="ManageProfile" asp-action="ChangePassword"><i class="bx bx-lock-alt me-1"></i> تغير كلمة المرور</a>
            </li>

        </ul>
        <div class="row">

            <div class="container-xxl flex-grow-1 container-p-y">
                <div class="row invoice-add">
                    <!-- Invoice Add-->
                    <div class="col-12 col-lg-9 mb-4 mb-lg-0">
                        <div class="card invoice-preview-card">
                            <div class="card-body">
                                <div class="user-avatar-section">
                                    @*<div class="d-flex flex-column ">
                                            @if (Model.ProfilePicture != null)
                                            {
                                                <img class="img-fluid rounded my-4" src="image/*;base64,@(Convert.ToBase64String(Model.ProfilePicture)) height="110" width="110" alt="User avatar">

                                            }
                                            else
                                            {
                                                <img id="profilePicture" style="width:350px;height:350px; object-fit:cover" src="/assets/img/avatars/2.png">
                                            }
                                            <input type="file"
                                                   accept=".png,.jpg,.jpeg,.gif,.tif"
                                                   asp-for="@Model.ProfilePicture"
                                                   class="form-control"
                                                   style="border:0px!important;padding: 0px;padding-top: 10px;padding-bottom: 30px;"
                                                   onchange="document.getElementById('profilePicture').src = window.URL.createObjectURL(this.files[0])" />
                                            <span asp-validation-for="@Model.ProfilePicture" class="text-danger"></span>

                                            <div class="user-info ">
                                                <h5 class="mb-2"> @Html.DisplayFor(model => model.FirstName) </h5>
                                                <span class="badge bg-label-secondary">@Html.DisplayFor(model => model.Role.Name)</span>
                                            </div>
                                        </div>*@
                                </div>
                                <div class="d-flex flex-wrap justify-content-around py-3 my-4">
                                    <div class="gap-3 d-flex align-items-start mt-3 me-4 margin-right-span">
                                        <span class="badge bg-label-primary rounded p-2"><i class="bx bx-check bx-sm"></i></span>
                                        <div class="margin-span">
                                            <h5 class="mb-0">@ViewBag.totalCompalints</h5>
                                            <span>الشكوى المقدمة</span>
                                        </div>
                                    </div>
                                    <div class="gap-3 d-flex align-items-start mt-3 me-4  ">
                                        <span class="badge bg-label-primary rounded p-2"><i class="bx bx-check bx-sm"></i></span>
                                        <div class="margin-span">
                                            <h5 class="mb-0">0</h5>
                                            <span>الاقتراحات</span>
                                        </div>
                                    </div>
                                    <div class="gap-3 d-flex align-items-start mt-3">
                                        <span class="badge bg-label-primary rounded p-2"><i class="bx bx-customize bx-sm"></i></span>
                                        <div class="margin-span">
                                            <h5 class="mb-0">12</h5>
                                            <span>البلاغات</span>
                                        </div>
                                    </div>
                                </div>
                                <h5 class="border-bottom pb-2 mb-4">البيانات</h5>
                                <div class="info-container">
                                    <h5 class="border-bottom pb-2 mb-4">التفاصيل</h5>
                                    <div class="info-container">
                                        <ul class="list-unstyled">
                                            <li class="mb-3">
                                                <span class="fw-bold me-2">اسم المستخدم:</span>
                                                <span>@Html.DisplayFor(model => model.FullName)</span>
                                            </li>


                                            <li class="mb-3">
                                                <span class="fw-bold me-2"> تاريخ الميلاد:</span>
                                                <span>@Html.DisplayFor(model => model.DateOfBirth)</span>
                                            </li>
                                            <li class="mb-3">
                                                <span class="fw-bold me-2">رقم الهاتف:</span>
                                                <span>@Html.DisplayFor(model => model.PhoneNumber)</span>
                                            </li>


                                            </li>


                                        </ul>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Invoice Add-->
                    <!-- Invoice Actions -->
                    <div class="invoice-actions col-12 col-lg-3">
                        <div class="card mb-4">
                            <div class="card-body">
                                <button asp-action="Index" class="btn btn-primary d-grid w-100 mb-3">
                                    <span class="d-flex justify-content-center align-items-center text-nowrap"><i class=""></i>خروج</span>
                                </button>

                            </div>
                        </div>

                    </div>
                    <!-- /Invoice Actions -->
                </div>

            </div>
            <!-- / Content -->

            <div class="content-backdrop fade"></div>
        </div>

    </div>
</div>