@model ProvideSolutionsVM


@{ Layout = null; }


<div class="modal fade" id="AddOrEditSolution-@Model.AddSolution.Id" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel4">قم بــكتابة الحل المقدم</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form asp-action="AddOrEditSolutions" asp-route-Id="@Model.AddSolution.Id" asp-controller="GeneralFederation">
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                    <input type="hidden" asp-for="@Model.AddSolution.UploadsComplainteId" />
                    <input type="hidden" asp-for="@Model.CompalintsSolution.Id" />
                    <div>
                        <h6>فم بكتابة الحل الذي تريد بالتنسيق الذي تريدة</h6>
                        <textarea class="form-control" id="Content" asp-for="@Model.AddSolution.ContentSolution"></textarea>
                       <span class="text-danger" asp-validation-for="@Model.AddSolution.ContentSolution"></span>
                    </div>
                    <input type="hidden" asp-for="@Model.AddSolution.UploadsComplainteId" />

                    <div class="d-flex flex-wrap mb-3">
                        <button type="submit" class="btn btn-primary me-3" data-bs-dismiss="offcanvas">إرسال</button>
                        <button type="button" class="btn btn-label-secondary" data-bs-dismiss="offcanvas">إالغاء</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>



