
@model ProvideSolutionsVM


<div class="table-responsive text-nowrap">
    <table id="example" class="table table-bordered table table-bordered" style="border-radius: 0.25rem;">

        <thead>
            <tr>
                <th class="row-cols-md-4">
                    الموضف الذي قام برفضها
                </th>

                <th class="col-sm-1">
                    سبب الرفض
                </th>
                <th class="col-sm-2">
                    الصلاحية
                </th>
                <th class="col-sm-1">
                    تاريخ الرفض
                </th>


            </tr>
        </thead>

        <tbody>
            @if (Model.Compalints_SolutionList.Count() == 0)
            {
                <tr>
                    <td colspan="3" style="color:red">
                        لم يتم رفض هذه الشكوى من قبل اي موضف
                    </td>
                </tr>
            }
            else
            {
                @foreach (var item in Model.ComplaintsRejectedList)
                {
                    <tr>
                        <td class="width content">
                            @Html.DisplayFor(modelItem => item.RejectedProvName)
                        </td>
                        <td>
                            <div class="row demo-vertical-spacing">
                                <div class="d-inline-block">
                                    <button type="button"
                                            class="btn btn-primary"
                                            data-bs-toggle="modal"
                                            data-bs-target="#modalLong"
                                            @*class="btn btn-secondary text-nowrap"
                                                                                    data-bs-toggle="popover"
                                                                                    data-bs-offset="0,14"
                                                                                    data-bs-placement="top"
                                                                                    data-bs-html="true"
                                                                                    data-bs-content="<p> @Html.DisplayFor(modelItem => item.reume)</p> <div class='d-flex justify-content-between'><button type='button' class='btn btn-sm btn-label-secondary'>تخطي</button><button type='button' class='btn btn-sm btn-primary'>إقراء المزيد </button></div>"
                                                                                    title="الحل المقترح">*@>
                                        انقر هنا لعرض الحل
                                    </button>
                                    <button type="button"
                                            asp-route-id="@item.Id"
                                            data-bs-toggle="modal"
                                            class="btn btn-primary"
                                            data-bs-target="#modalLong"
                                            title="الحل المقترح">

                                        انقر هنا لعرض الحل
                                    </button>

                                </div>


                                @* عرض الحل في مودل منبثق *@

                                <div class="modal fade" id="modalScrollable" tabindex="-1" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="modalScrollableTitle">Modal title</h5>
                                                <button type="button"
                                                        class="btn-close"
                                                        data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>
                                                    @Html.DisplayFor(modelItem => @item.reume)
                                                </p>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
                                                    Close
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @* نهاية عرض الحل في مودل منبثق *@


                            </div>
                        </td>




                        <td>
                            @if (@item.Role == "AdminGeneralFederation")
                            {
                                <span class="badge bg-label-success">مدير اتحاد</span>
                            }
                            else if (@item.Role == "AdminGovernorate")
                            {
                                <span class="badge bg-label-warning"> مدير محافظة</span>
                            }
                            else if (@item.Role == "AdminDirectorate")
                            {
                                <span class="badge bg-label-warning"> مدير مديرة</span>
                            }
                            else if (@item.Role == "AdminSubDirectorate")
                            {
                                <span class="badge bg-label-warning"> مدير عزلة</span>
                            }
                        <td>
                            @Html.DisplayFor(modelItem => item.DateSolution)
                        </td>

                    </tr>
                }
            }

        </tbody>
    </table>

</div>