
@model IEnumerable<TypeComplaint>

<div class="card-datatable table-responsive">
    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">

        <div class="row mx-2 border-bottom ">

            <div class="d-flex col-12 justify-content-between">

                <a onclick="showInPopup('@Url.Action("AddOrEditCategoryCompalint", "GeneralFederation", null, Context.Request.Scheme)','اضــــافة نوع')" class="btn btn-success text-white"><i class="fas fa-random"></i>  اضــــافة نوع</a>

            </div>
        </div>
       
    </div>


    <div class="table-responsive text-nowrap">
        <table id="example" class="datatables-users table border-top ">
            <thead>
                <tr>

                    <th>
                        اسم النوع
                    </th>
                    <th>
                        تاريخ الاضافة
                    </th>
                    <th>
                        اسم مضيف النوع
                    </th>
                    <th>تعديل</th>
                    <th>حذف</th>
                </tr>
            </thead>

            <tbody>
                @if (Model.Count() == 0)
                {
                    <tr>
                        <td colspan="3" style="color:red">
                            لا يوجد نتائج
                        </td>
                    </tr>
                }
                else
                {

                    @foreach (var item in Model)
                    {
                        <tr>

                            <td> @Html.DisplayFor(modelItem => item.Type)</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedDate)
                            </td>
                            <td> @Html.DisplayFor(modelItem => item.UsersNameAddType)</td>
                            <td>
                                <a class="btn btn-sm btn-icon item-edit" onclick="showInPopup('@Url.Action("AddOrEditCategoryCompalint", "GeneralFederation", new { id = item.Id }, Context.Request.Scheme)','تعديل')"><i class="bx bxs-edit"></i></a>
                            </td>
                            <td style="">
                               
                                <form asp-action="Delete" asp-route-id="@item.Id" method="post">
                                    <a class="btn btn-sm btn-icon item-trash" onclick="return functionConfirm(this)"><i class="bx bxs-trash-alt btn btn-danger" ></i></a>
                                    <input type="hidden" asp-for="@item.Id" />
                                    @*<input type="submit" value="Delete" class="btn btn-danger" />*@
                                </form>
                            </td>

                        </tr>
                    }
                }


            </tbody>
        </table>
    </div>
</div>
