@using Microsoft.AspNetCore.Identity
@using CompalintsSystem.Core;
@inject UserManager<ApplicationUser> UserManager;
@inject RoleManager<IdentityRole> roleManager;
@inject SignInManager<ApplicationUser> signInManager;
@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "كل المستخدمين";
    ViewData["subTitle"] = "حسابات المدراء";
}

<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">


        <div class="container-xxl flex-grow-1 container-p-y">
            <h4 class="breadcrumb-wrapper py-3 mb-4">
                <span class="text-muted fw-light">الحسابات    /</span> مدراء المحافظة
            </h4>


            <div class="card">
                <div class="row mx-2  ">
                    <div class="col-md-6">
                        <div class="t-d">
                            <h5 class="card-header title-t"> الحسابات </h5>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="dropdown" style="text-align-last: end;">

                            @{


                                <div class="btn-group">
                                    <span class="badge bg-label-primary badgess " style="    padding-left: 36px;
                        line-height: 1.99;
                        width: 152.35px;">العدد الكلي @ViewBag.totalUsers</span>
                    </div>

                            }
                        </div>

                    </div>

                </div>

                <div class="card-datatable table-responsive">
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">

                        <div class="row mx-2 border-bottom ">
                            <div class="row align-items-start">
                                <label class="form-label"> عرض حسب</label>
                                <div class="row align-items-start">
                                    <div class="category-filter" style="width:150px">
                                        <select id="FilterUsers"
                                                class="select2 form-select select2-hidden-accessible"
                                                tabindex="-1" aria-hidden="true" data-select2-id="10">
                                            <option value="0" data-select2-id="12">عرض</option>
                                            <option value="نشط">نشط</option>
                                            <option value="موقف">مقد</option>
                                            <option value="مدير محافظة">مدير محافظة</option>
                                            <option value="مدير اتحاد">مدير اتحاد</option>
                                            <option value="مدير مديرية">مدير مديرية</option>
                                            <option value="مدير عزلة">مدير عزلة</option>
                                        </select>
                                    </div>


                                    <div class="col-12 col-md-6  d-flex mb-4 justify-content-center justify-content-md-start">
                                        <div class="me-3 table-type search-paddind">

                                            <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                                <label><input type="search" id="CustomSearchTextField" class="form-control" placeholder="البحث" aria-controls="DataTables_Table_0"></label>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </div>


                            <div class=" col-12 justify-content-between">
                                <button style="float:left; border:1px solid green;" class="btn btn-primary me-1" onclick="location.href='@Url.Action("Create", "GeneralFederation")'">
                                    اضــــافة مستخدم  +
                                </button>
                            </div>
                        </div>


                    </div>

                            <div class="card-datatable table-responsive">
                                <table class="dt-responsive table table-bordered">
                                    <thead>
                                        <tr>

                                            <th> الاسم </th>
                                            <th> المحافظة </th>
                                            <th> الصلاحية </th>
                                            <th>تاريخ الانشاء </th>
                                            <th>الفعالية</th>
                                            <th> إجراء</th>
                                            @*<th>تغير الحالة</th>*@
                                        </tr>
                                    </thead>
                                    <tbody class="table-border-bottom-0">

                                        @foreach (var user in Model)
                                        {
                                            <tr>

                                                <td>@user.FullName </td>
                                                <td>
                                                    @*@foreach (Governorate gov  in Model.)
                                {*@
                                                    @user.Governorate.Name
                                                </td>

                                                <td>
                                                    @if (await UserManager.IsInRoleAsync(user, UserRoles.AdminGeneralFederation))
                                                    {
                                                        <span class="badge bg-label-success">مدير اتحاد</span>
                                                    }
                                                    else if (await UserManager.IsInRoleAsync(user, UserRoles.AdminGovernorate))
                                                    {
                                                        <span class="badge bg-label-warning">مدير محافظة</span>
                                                    }
                                                    else if (await UserManager.IsInRoleAsync(user, UserRoles.AdminDirectorate))
                                                    {
                                                        <span class="badge bg-label-warning">مدير مديرية</span>
                                                    }
                                                    else if (await UserManager.IsInRoleAsync(user, UserRoles.AdminSubDirectorate))
                                                    {
                                                        <span class="badge bg-label-warning">مدير عزلة</span>
                                                    }

                                                    else if (await UserManager.IsInRoleAsync(user, UserRoles.Beneficiarie))
                                                    {
                                                        <span class="badge bg-label-warning">مزارع</span>
                                                    }
                                                </td>



                                                <td>@user.CreatedDate.ToString("MM/dd/yyyy") </td>

                                                @if (user.EmailConfirmed)
                                                {


                                                    <td>
                                                        <span class="badge bg-success text-white@(user.EmailConfirmed)">

                                                            <i class="fa fa-circle" aria-hidden="true"> @(user.EmailConfirmed ? "نشط": "مقيد")</i>
                                                        </span>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>

                                                        <span class="badge bg-danger text-white@(user.EmailConfirmed)">

                                                            <i class="fa fa-circle" aria-hidden="true"> @(user.EmailConfirmed ? "نشط" : "مقيد")</i>
                                                        </span>
                                                    </td>
                                                }


                                                @*<td>
                                <form asp-action="ChaingeStatus" id="Status-Form-@user.Id">
                                    <input type="hidden" name="Id" value="@user.Id" />
                                    <select class="form-select " onchange="document.getElementById('Status-Form-@user.Id').submit()" name="IsBlocked">
                                        <option value="">اختر</option>
                                        <option value="false">تنشيط</option>
                                        <option value="true">توقيف</option>
                                    </select>
                                </form>
                            </td>*@

                                                <td style="">
                                                    <div class="d-inline-block">
                                                        <button class="btn btn-sm btn-icon dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                                            <i class="bx bx-dots-vertical-rounded"></i>
                                                        </button>

                                                        <ul class="dropdown-menu dropdown-menu-end">
                                                            <li><a class="dropdown-item" asp-action="Details" asp-route-id="@user.Id">عرض</a></li>

                                                            <li><a class="dropdown-item" asp-action="UserReportAsPDF" asp-route-id="@user.Id">تقرير</a></li>

                                                            <li>

                                                                @*<form class="dropdown-item text-danger delete-record" type="submit" asp-for="@user.Id" asp-action="Delete" onclick="return functionConfirm(this)">حذف</form>*@



                                                            </li>
                                                            <li>
                                                                @if (user.EmailConfirmed)
                                                                {
                                                                    <a class="dropdown-item" asp-action="DisbleOrEnableUser" asp-route-id="@user.Id">توقيف</a>
                                                                }
                                                                else
                                                                {
                                                                    <a class="dropdown-item" asp-action="DisbleOrEnableUser" asp-route-id="@user.Id">تنشيط</a>

                                                                }




                                                            </li>
                                                        </ul>

                                                    </div>
                                                    <a class="btn btn-sm btn-icon item-edit" asp-action="Edit" asp-route-id="@user.Id"><i class="bx bxs-edit"></i></a>
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th></th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Post</th>
                                            <th>City</th>
                                            <th>Date</th>

                                        </tr>
                                    </tfoot>
                                </table>
                            </div>

</div>
            </div>

        </div>
    </div>



    <div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->


@section Scripts{

    <script>
            function functionConfirm(event) {
                const swalWithBootstrapButtons = Swal.mixin({
                    customClass: {
                        confirmButton: 'btn btn-success',
                        cancelButton: 'btn btn-danger'
                    },
                    buttonsStyling: false
                })

                swalWithBootstrapButtons.fire({
                    title: 'هل انت متأكد من الحذف ؟',
                    text: "سيتم حذف المستخدم بشكل نهائي  !",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'نعم  !',
                    cancelButtonText: 'الغاء ',
                    reverseButtons: true,
                    timer: 10000
                }).then((result) => {
                    if (result.isConfirmed) {
                        $("form").submit();

                        swalWithBootstrapButtons.fire({
                            title: 'تم الحذف !',
                            text: 'تمت عملية الحذف بنجاح .',
                            icon: 'success',
                            timer: '200000'
                        }
                        )
                    } else if (
                        /* Read more about handling dismissals below */
                        result.dismiss === Swal.DismissReason.cancel
                    ) {
                        swalWithBootstrapButtons.fire(
                            ' تم إلغاء الحذف',
                            '',
                            'error'
                        )
                    }
                })
            }
    </script>


    @*<script>
            function functionConfirm(event) {
                const swalWithBootstrapButtons = Swal.mixin({
                    customClass: {
                        confirmButton: 'btn btn-success',
                        cancelButton: 'btn btn-danger'
                    },
                    buttonsStyling: false
                })

                swalWithBootstrapButtons.fire({
                    title: 'Emin misiniz?',
                    text: "Bu işlem geri alınamaz!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Evet, sil!',
                    cancelButtonText: 'Hayır, iptal',
                    reverseButtons: true,
                    timer: 3000
                }).then((result) => {
                    if (result.isConfirmed) {
                        $("form").submit();

                        swalWithBootstrapButtons.fire({
                            title: 'Silindi!',
                            text: 'Kategori silindi.',
                            icon: 'success',
                            timer: '2000'
                        }
                        )
                    } else if (
                        /* Read more about handling dismissals below */
                        result.dismiss === Swal.DismissReason.cancel
                    ) {
                        swalWithBootstrapButtons.fire(
                            'İptal edildi',
                            '',
                            'error'
                        )
                    }
                })
            }
        </script>*@


    @*<script>

            //فلترة نوع الشاكي
            $("#FilterUsers").change(function () {
                var value = $(this).val().toLowerCase();
                $(".table tbody tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                });
            });


        </script>*@


}

